---
import Faqs from "../components/Faqs.astro";
import VideoEmbed from "../components/VideoEmbed.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="min-h-screen flex flex-col justify-between items-center bg-[#111] relative px-4 py-10"
  >
    <div
      class="max-w-[420px] w-full mx-auto text-center flex-1 flex flex-col justify-center"
    >
      <p class="text-[#FF7B00] font-semibold text-[18px] mt-8 mb-6">
        ¡Listo! Ya diste el primer paso para vivir de lo que amás.
      </p>
      <!-- <h1 class="text-white font-bold text-[24px] mb-6 leading-[110%]">
        ¡Felicitaciones! Vas a recibir un correo y un mensaje de WhatsApp con todos los detalles para conectarte a la entrevista que agendaste.
      </h1>
      <p class="text-white/80 text-[16px] mb-6">
        En esa llamada vamos a ver si esta formación es para vos y cómo podrías empezar a generar ingresos enseñando calistenia con el respaldo de Calistep®.
      </p>
      <p class="text-white/80 text-[16px] mb-6">
        Mi equipo se va a contactar vía WhatsApp para confirmar tu asistencia y acompañarte en este proceso de aplicación.
      </p>
      <p class="text-white/80 text-[15px] mb-6">
        Por favor, asegurate de estar en un lugar tranquilo y cómodo para que podamos charlar con calma y darte el espacio que te merecés.
      </p>
      <p class="text-white/80 text-[15px] mb-6">
        (Si por algún motivo no podés asistir, avisanos con tiempo así le damos tu lugar a otro apasionado que también quiere vivir de esto).
      </p>
      <p class="text-white/80 text-[16px] mb-8">Abrazo, Nico.</p>
    </div>
    <div class="flex flex-col items-center gap-6 w-full">
      <div class="flex justify-center gap-6 mb-4">
        <a href="https://www.instagram.com/nico.grigera/" aria-label="Instagram" class="text-white text-2xl"
          >
          <svg
						class="h-[32px] w-auto fill-white"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 448 512"
						>
						<path
							d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
						></path></svg
					>
          </a>
      </div> -->
     <img
        class="h-[30px] md:h-[50px] object-contain mx-auto mb-8"
        src="/images/logo/logo-calistep-step-by-step.svg"
        alt="Logo Calistep Step by Step"
      />
      <p class="text-white/60 text-[14px] mb-2">
        © Calistep 2025. Todos los derechos reservados.
      </p>
    </div>
  </div>
  <script is:inline>
    !(function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod
          ? n.callMethod.apply(n, arguments)
          : n.queue.push(arguments);
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = "2.0";
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s);
    })(
      window,
      document,
      "script",
      "https://connect.facebook.net/en_US/fbevents.js"
    );
    fbq("init", "689028520630170");
    fbq("track", "PageView");
    fbq("track", "Lead");
  </script>
  <noscript
    ><img
      height="1"
      width="1"
      style="display:none"
      src="https://www.facebook.com/tr?id=689028520630170&ev=PageView&noscript=1"
    /></noscript
  >
</Layout>
